@import url('https://fonts.googleapis.com/css2?family=Grand+Hotel&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rye&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poiret+One&display=swap');

/* body {background-color: #161616;} */


a {
  color: black !important;
}

.brand-logo, h2 {
  /*font-family: 'Grand Hotel', cursive;*/
  /* font-family: 'Rye', cursive; */
  font-family: 'Poiret One', cursive;
}

.brand-logo, left {
  margin-left:15px;
}

.mycard {
  margin-top: 30px;
}

.auth-card {
  padding: 20px;
  text-align: center;
  max-width: 400px;
  margin: 10px auto;
}

/* label underline focus color */
.input-field input[type=text]:focus {
  border-bottom: 1px solid rgb(6, 31, 173) !important;
  box-shadow: 0 1px 0 0 rgb(6, 31, 173) !important;
}

.input-field input[type=password]:focus {
  border-bottom: 1px solid rgb(6, 31, 173) !important;
  box-shadow: 0 1px 0 0 rgb(6, 31, 173) !important;
}

.gallery{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.item{
  height: 20px;
  width: 20px;
}

.home-card{
  max-width: 500px;
  height: max-content;
  margin:26px auto;
}

#toast-container{
  top:30px;
  right:20px;
  left:auto !important;
}

.material-icons:hover {
  cursor:pointer;
}

.collection-wrapper {
  /* max-width: 550px; */
  /* max-height: 1000px; */
  display:  grid;
  /* grid-template-rows:repeat(1); */
  grid-template-columns: repeat(4, 3fr);
  /* grid-template-rows: 0.75fr 0.75fr 0.75fr; */
  /* grid-template-rows: 100px 100px 100px auto; */
  /* grid-template-rows: repeat(3, 0.75fr); */
  /* grid-template-areas: "a b c d";
  grid-auto-columns: 100px 100px 100px 100px; */
  gap: 20px;
  /* border: 2px solid gold; */
  /* background-color: rgba(255, 0, 255, 0.25); */
}

.social-logo {
  width: 200px; 
  height: 200px;
  /* background-color: aqua;
  border-color: aqua; */
}

.circle, modal-trigger {
  width: 100%;
  height: 100%;
  /* width: 130px; 
  height: 130px; */
  /* background-color: aqua;
  border-color: aqua; */
}

.collection-item{
  /* width: 100%; */
  /* background-color: aqua;
  border-color: aqua; */
}

.circle{
  /* width: 80%;
  height: 100%; */
  text-align: center;
  /* background-color: rgba(255, 0, 255, 0.25); */
}

body {
  overflow: auto !important;
}

.collection-item{
  
  /* border: 2px solid gold; */
  text-align: center;
  /* background-color: rgba(255, 0, 255, 0.25); */
}

.image{
  width: 90%;
  display: flex;
  align-items: center;
}
.imageref{
  width: 90%;
  display: flex;
  align-items: center;
}

.result{
  width: 90%;
  display: flex;
  align-items: center;
}

/* .cropper-crop-box, .cropper-view-box {
  border-radius: 50%;
}

.cropper-view-box {
  box-shadow: 0 0 0 1px #39f;
  outline: 0;
} */