@import url('https://fonts.googleapis.com/css2?family=Grand+Hotel&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rye&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poiret+One&display=swap');

/* body {background-color: #161616;} */


a {
  color: black !important;
}

.brand-logo, h2 {
  /*font-family: 'Grand Hotel', cursive;*/
  /* font-family: 'Rye', cursive; */
  font-family: 'Poiret One', cursive;
}

.brand-logo, left {
  margin-left:15px;
}

.mycard {
  margin-top: 30px;
}

.auth-card {
  padding: 20px;
  text-align: center;
  max-width: 400px;
  margin: 10px auto;
}

/* label underline focus color */
.input-field input[type=text]:focus {
  border-bottom: 1px solid rgb(6, 31, 173) !important;
  box-shadow: 0 1px 0 0 rgb(6, 31, 173) !important;
}

.input-field input[type=password]:focus {
  border-bottom: 1px solid rgb(6, 31, 173) !important;
  box-shadow: 0 1px 0 0 rgb(6, 31, 173) !important;
}

.gallery{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.item{
  height: 20px;
  width: 20px;
}

.home-card{
  max-width: 500px;
  height: max-content;
  margin:26px auto;
}

#toast-container{
  top:30px;
  right:20px;
  left:auto !important;
}

.material-icons:hover {
  cursor:pointer;
}

.collection-wrapper {
  /* max-width: 550px; */
  /* max-height: 1000px; */
  width: 90%;
  
  margin: 0 auto;
  display:  grid;
  /* grid-template-rows:repeat(1); */
  grid-template-columns: repeat(4, 3fr);
  /* grid-template-rows: 0.75fr 0.75fr 0.75fr; */
  /* grid-template-rows: 100px 100px 100px auto; */
  /* grid-template-rows: repeat(3, 0.75fr); */
  /* grid-template-areas: "a b c d";
  grid-auto-columns: 100px 100px 100px 100px; */
  gap: 20px;
  /* border: 2px solid gold; */
  /* background-color: rgba(255, 0, 255, 0.25); */
}

.social-logo {
  width: 200px; 
  height: 200px;
  /* background-color: aqua;
  border-color: aqua; */
}

.circle, modal-trigger {
  width: 100%;
  height: 100%;
  /* width: 130px; 
  height: 130px; */
  /* background-color: aqua;
  border-color: aqua; */
}
 .plus {
  width: 100%;
  height: 100%;
  padding: 15px;
  /* width: 130px; 
  height: 130px; */
  /* background-color: aqua;
  border-color: aqua; */
}


.circle{
  /* width: 80%;
  height: 100%; */
  text-align: center;
  /* background-color: rgba(255, 0, 255, 0.25); */
}

body {
  overflow: auto !important;
}

.collection-item{
  
  /* border: 2px solid gold; */
  text-align: center;
  /* background-color: rgba(255, 0, 255, 0.25); */
}

.image{
  width: 90%;
  display: flex;
  align-items: center;
}
.imageref{
  width: 90%;
  display: flex;
  align-items: center;
}

.result{
  width: 90%;
  display: flex;
  align-items: center;
}

.accordion-container {
  width: 80%;
  margin: 0 auto;

}

/* .separator {
    width: 90%;
  margin: 0 auto;

} */

.collapsible-item {
  margin-bottom: 5pt;
}


.cropper-crop-box, .cropper-view-box {
  border-radius: 50%;
}

.cropper-view-box {
  box-shadow: 0 0 0 1px #39f;
  outline: 0;
}

.coverphoto.cropper-crop-box{
  border-radius: 0% !important;
}
.coverphoto.cropper-view-box{
  border-radius: 0% !important;
}

#toast-container {
  min-width: 10%;
  right:  45%;
  /* transform: translateX(50%) translateY(50%); */
}

.select-dropdown{
  position: static;
}

.dropdown-content{
  width: max-content !important;
  height:auto !important;
}

i.icon-white{
  color:white;
}

input:not([type]), input[type=text], input[type=password], input[type=email], input[type=url], input[type=time], input[type=date], input[type=datetime], input[type=datetime-local], input[type=tel], input[type=number], input[type=search], textarea.materialize-textarea {
  background-color: transparent;
  border: none;
  border-bottom: 1px solid #9e9e9e;
  border-radius: 0;
  outline: none;
  height: 2rem;
  width: 100%;
  font-size: 1rem;
  margin: 0 0 2px 0;
  padding: 0;
  box-shadow: none;
  box-sizing: content-box;
  transition: all 0.3s;
}

.inline-icon {
  font-size:28px;
  line-height:36px;
}

/* ---------- Begin .rotating-border ---------- */
/* @keyframes spin {
  from {transform: translate(-50%, -50%) rotate(0);}
  to   {transform: translate(-50%, -50%) rotate(360deg);}
}
.rotating-border {
  --border-radius: 1rem;
  --border-size: 0.5rem;
  --border-bg: conic-gradient(red, yellow, lime, aqua, blue, magenta, red);
  --padding: 1rem;
  
  position: relative;
  overflow: hidden;
  font-size: 2rem;
  padding: calc(var(--padding) + var(--border-size));
  border-radius: var(--border-radius);
  display: inline-block;
  
  &::before {
    content: '';
    display: block;
    background: var(--border-bg);
    width: calc(100% * 1.41421356237);
    padding-bottom: calc(100% * 1.41421356237);
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border-radius: 100%;
    z-index: 1;
    animation: spin 5s linear infinite;
  }
  &--reverse::before{
    animation-direction: reverse;
  }
  &::after{
    content: '';
    position: absolute;
    inset: var(--border-size);
    background: white;
    z-index: 2;
    border-radius: calc(var(--border-radius) - var(--border-size));
  }
}

.rotating-border--rainbow{
  --border-radius: 3.5rem;
  --border-size: 0.5rem;
  --border-bg: conic-gradient(red, yellow, lime, aqua, blue, magenta, red);
} */
/* ---------- End .rotating-border ---------- */